{% extends 'email/_layout.html.twig' %}

{% block content %}
<p style="margin: 0 0 16px;">
    {{ 'emails.greeting'|trans({'%name%': teacher.name.firstName}, 'emails') }}
</p>
<p style="margin: 0 0 16px;">
    {{ (transPrefix ~ '.intro')|trans(params, 'emails') }}
</p>
<ul style="margin: 0 0 24px; padding-left: 0; list-style: none; color: #374151; font-size: 13px;">
    {% for row in rows %}
    <li style="margin: 0 0 12px; padding: 12px 16px; background-color: #f9fafb; border-left: 3px solid #677dae;">
        <a href="{{ row.url }}" style="color: #576490; font-weight: 600; text-decoration: none;">
            {{ row.subject }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
